.ipynb_checkpoints
__pycache__
venv
articles
nis

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex
*.synctex(busy)
*.fdb_latexmk
*.xml
*.fls
*.bcf
*.pyg
*.brf

~*
