.ipynb_checkpoints
__pycache__
venv
nis
lightning_logs
logs
data
old
proposal

data.ipynb
TODO.txt
text/main_merged.pdf
text/defence.md
text/titlepage.docx
text/titlepage.pdf
src/waterfall_chart_.py


*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex
*.synctex(busy)
*.fdb_latexmk
*.xml
*.fls
*.bcf
*.pyg
*.brf

~*
